* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    -font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
  }

  div {
    margin-bottom: 10px;
  }

  label {
    display: inline-block;
    width: 150px;
    /* text-align: center; */
   
  }

  input {
    padding: 19px;
    width: 100%;
    border-radius: 25px;
  }

 select {
    padding: 12px;
    width: 100%;
    border-radius: 25px;
  }

  .container {
    background-color:rgba(72,72,72,0.9);
    padding: 10px 20px 30px 20px;
    max-width:100%;
    float: left;
    left: 50%;
    position: absolute;
    margin-top:30px;
    margin-left: -260px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    top: 10%;
    width: 30%;
  }

  body {
    background:url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat;
    background-size: cover;
    height:100%;
    /* background-color: #000; */
    color: #C0C0C0;
   font-family: Arial, san-serif;
  }

  .navbar {
    
    border-radius: 12px;
    color: silver;
    background-color: grey; 
    padding: 2rem;
  }

  .button {
    cursor: pointer;
    padding: 12; 
    margin: 13; 
    
  }

  .float {
    float: right;
    cursor: pointer;
    background-color: grey;
    /* border: none; */
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 16px; */
    /* margin: 4px 2px; */
  }